[Unit]
Description=ttybus for AFE serial interface
BindsTo=dev-ttyGNSS1.device

[Service]
Type=forking
ExecStart=/opt/ttybus/tty_bus -d -s /tmp/ttyGNSS1mux
Restart=always
