[Unit]
Description=MEP DockerManager Service
StartLimitIntervalSec=60
StartLimitBurst=60


[Service]
Type=simple
ExecStart=/opt/radioconda/bin/python -B /opt/ansible/mep-services/DockerManager/docker_manager.py
Environment=CI=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
