[Unit]
Description=Host Platform Service
After=network.target mosquitto.service
Wants=mosquitto.service

[Service]
Type=simple
ExecStart=/opt/radioconda/bin/python -B /opt/mep-services/HostManager/host-manager.py
Environment=PYTHONUNBUFFERED=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
