[Unit]
Description=TunerControl Service
After=network.target mosquitto.service
Wants=mosquitto.service

[Service]
Type=simple
ExecStart=/opt/radiohound/python313/bin/python -B /opt/ansible/mep-services/TunerControl/tuner_control.py
Environment=PYTHONUNBUFFERED=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
