SUBSYSTEM=="tty", ATTRS{product}=="FT231X USB UART", SYMLINK+="ttyGNSS1 ttyAFE"
SUBSYSTEM=="tty", ATTRS{product}=="u-blox GNSS receiver", SYMLINK+="ttyUBLOX"
SUBSYSTEM=="tty", ATTRS{product}=="Feather RP2040", SYMLINK+="ttyRPi_CPy"
