[Unit]
Description=Analog Frontend controller service
BindsTo=dev-ttyGNSS1.device
After=dev-ttyGNSS1.device
BindsTo=gpsd.service
After=gpsd.service

[Service]
Type=exec
ExecStart=/usr/bin/python3 /opt/afe/afe_service.py
User=mep
Group=mep
Restart=always

[Install]
WantedBy=multi-user.target
