[Unit]
Description=Analog Frontend controller service
Requires=dev-ttyGNSS1.device

[Service]
Type=exec
ExecStart=/usr/bin/python3 /opt/afe/afe_service.py
User=mep
Group=mep
Restart=always

[Install]
WantedBy=multi-user.target
