[Unit]
Description=Set up ansible for RadioHound platform
After=network-online.target

[Service]
Type=simple
Environment="PYTHONUNBUFFERED=True"
ExecStart=/usr/bin/python3 /root/setup_ansible.py verbose
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
