[Unit]
Description=Set up ansible for RadioHound platform
After=NetworkManager.target

[Service]
Type=oneshot
Environment="PYTHONUNBUFFERED=True"
ExecStart=/usr/bin/python3 /root/setup_ansible.py
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
